.gallery-card {
  position: absolute;
  z-index: 3;
  perspective: 1100px;
  display: none;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.card-show {
  display: flex !important;
}

.go-left,
.go-right {
  color: white;
  margin: 0 40px;
  cursor: pointer;
}

.gallery-card > .card {
  width: 41.5rem;
  height: 41.5rem;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}

.card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: end;
}

.btn-circle {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #0a0a0a;
  border-radius: 1.75rem;
  margin: 0 30px 30px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.3);
  opacity: 0.7;
}

.btn-circle > img {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

.card-flip {
  transform: rotateY(180deg);
}

.card-info {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: white;
}

.info-img {
  width: 13rem;
  height: 13rem;
  border-radius: 7rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 80px auto 50px;
}

.txt-box {
  margin: 0 auto;
  padding: 0 60px;
}

.txt-box > .tag {
  margin-bottom: 20px;
  font-size: 1.75rem;
  font-weight: 600;
  font-family: 'Pretendard';
  line-height: 130%;
}

.txt-box > .prompt {
  font-size: 1rem;
  /* font-size: 0.75rem; */
  color: #aaa;
  font-family: 'Pretendard';
  font-weight: 400;
  line-height: 140%;
}

.card-info > .btn-circle {
  box-sizing: border-box;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 0 30px 30px 0;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.3);
  opacity: 0.2;
}

.esc-guide {
  display: none;
  color: #aaa;
  font-family: 'Pretendard';
  font-weight: 400;
  position: absolute;
  z-index: 3;
  top: 103%;
  left: 36%;
}

.esc-show {
  display: block;
}

.overay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
