.work-detail-page {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0a0a0a;
  display: none;
  transform: translateX(100vw);
  transition: transform 800ms ease-in-out;
}

.screen-show {
  display: block !important;
}

.screen-big {
  transform: translateX(0vw);
}

#detailPageNav {
  position: absolute;
  width: 90rem;
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgb(10, 10, 10, 0.7),
    rgb(10, 10, 10, 0)
  );
}

#detailPageNav #closeBtn {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 1.875rem 0;
  cursor: pointer;
}

#detailPageNav ul {
  list-style: none;
  display: flex;
  color: rgb(200, 200, 200, 1);
  gap: 4vmin;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 1.875rem 0;
}

.work-contents {
  display: flex;
  width: 90rem;
  margin: 0 auto;
}

.work-image {
  display: block;
  width: 100vmin;
  height: 100vmin;
}

.work-txt {
  padding: 36rem 4.75rem 0;
  color: white;
}

.work-title {
  font-size: 2.25rem;
  margin: 0 0 2.4375rem;
}

.work-prompt {
  font-size: 1.125rem;
  font-family: Monaco sans-serif;
  line-height: 1.875rem;
}
